/* .day1 {
    background-color: lightblue;
}

.day2 {
    background-color: lightcoral;
}

.day3 {
    background-color: lightcyan;
}

.day4 {
    background-color: lightgoldenrodyellow;
}

.day5 {
    background-color: lightgray;
}

.hide{
    display: none;
} */

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

/* Search history */
#search-history{
    font-size: 1.2rem;
    color: rgba(15, 14, 14, 0.769);
  
  }
  #search-button {
    cursor: pointer;
  }
  #city-history {
    cursor: pointer;
  }
  /* tbc */