/* .day1 {
    background-color: lightblue;
}

.day2 {
    background-color: lightcoral;
}

.day3 {
    background-color: lightcyan;
}

.day4 {
    background-color: lightgoldenrodyellow;
}

.day5 {
    background-color: lightgray;
}

.hide{
    display: none;
} */

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

/* Search history */
#search-history{
    font-size: 1.2rem;
    color: rgba(15, 14, 14, 0.769);
  
  }
  #search-button {
    cursor: pointer;
  }
  #city-history {
    cursor: pointer;
  }
  /* tbc */

  header {
    color: white;
    text-align: center;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    background-color: rgba(227, 93, 16, 0.234);
    border: 1px solid rgba(255, 255, 255, 0.394);
    border-radius: 1rem; 
    text-align: center; 
    box-shadow: 0 0 10px rgb(227, 131, 72); 
    }
    
    body{
        background-image: url('/images/Walpaper.png');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
    
    .container{
        padding: 20px 70px;
    }